<tr>
  <td><%= media_type.Name %></td>
  <% if action_name != "show" %>
  <td>
    <%= link_to "Show this media type", admin_media_type_path(media_type), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this media type", edit_admin_media_type_path(media_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
  <% end %>
</tr>